.header {
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: 8px;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
